{% extends 'base.html' %}
{% block title %}LeadrBoard Add{% endblock %}
{% load bootstrap3 %}
{% block content %}
<div class="container">
  <div class="container">
  <div class="row">
    <div class="col">
      <h4 class="labels-for-tables" align="center">ADD MATCH</h4>
      <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          {% bootstrap_form match_form %}
        </div>
        <div class="form-group">
          <input type="submit" value="ADD MATCH" class="btn btn-dark btn-lg btn-block">
        </div>
      </form>
    </div>
    <div class="col">
      <h4 class="labels-for-tables" align="center">ADD PLAYER</h4>
      <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          {% bootstrap_form player_form %}
        </div>
        <div class="form-group">
          <input type="submit" value="ADD PLAYER" class="btn btn-dark btn-lg btn-block">
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
