{% extends "base.html" %}
{% block title %}LeadrBoard Room: {{name}}{% endblock %}
{% load bootstrap3 %}
{% block content %}
<div class="container">
  <div class="jumbotron jumbotron-other" align=center>
    <h1 class="label-for-user">{{name}}</h1>
  </div>
  <div class="row">
    <div class="col" align="center">
      <h4 class="labels-for-tables">LEADERBOARD</h4>
      <table class="table table-hover">
      <thead class="thead-dark">
       <tr>
         <th scope="col">NAME</th>
         <th scope="col">GP</th>
         <th scope="col">W</th>
         <th scope="col">L</th>
         <th scope="col">D</th>
       </tr>
      </thead>
      <tbody>
        {% for player in players %}
         <tr>
           <td>{{player.name}}</td>
           <td>{{player.games_played}}</td>
           <td>{{player.wins}}</td>
           <td>{{player.loss}}</td>
           <td>{{player.draw}}</td>
         </tr>
        {% endfor %}
      </tbody>
      </table>
    </div>
    <div class="col" align="center">
      <h4 class="labels-for-tables">MATCHES</h4>
      <table class="table table-hover">
      <thead class="thead-dark">
       <tr>
         <th scope="col">PLAYER</th>
         <th scope="col">SCORE</th>
         <th scope="col">-</th>
         <th scope="col">SCORE</th>
         <th scope="col">PLAYER</th>
       </tr>
      </thead>
      <tbody>
        {% for match in matches %}
         <tr>
           <td align="left" valign="left">{{match.p1_name}}</td>
           <td align="center" valign="middle">({{match.p1_score}}</td>
           <td align="center" valign="middle">-</td>
           <td align="center" valign="middle">{{match.p2_score}})</td>
           <td align="right" valign="right">{{match.p2_name}}</td>
         </tr>
        {% endfor %}
      </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
